In [1]:
 import numpy as np

# 作业1
## 葛晨捷

In [2]:
str(1)

'1'

In [3]:
int(2.8)

2

In [4]:
float(33)

33.0

In [5]:
range(4)

[0, 1, 2, 3]

In [6]:
range(4,7)

[4, 5, 6]

In [7]:
dir

In [8]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getslice__',
 '__gt__',
 '__hash__',
 '__init__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '_formatter_field_name_split',
 '_formatter_parser',
 'capitalize',
 'center',
 'count',
 'decode',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'index',
 'isalnum',
 'isalpha',
 'isdigit',
 'islower',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [9]:
dir(str)[-4:]

['title', 'translate', 'upper', 'zfill']

In [17]:
x = ' Hello world'
dir(x)[-6:]

['strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [18]:
x.upper()

' HELLO WORLD'

In [19]:
x.lower()

' hello world'

In [20]:
x.rstrip()

' Hello world'

In [21]:
x.strip()

'Hello world'

In [22]:
x.lstrip()

'Hello world'

In [23]:
type(x)

str

In [24]:
l = [1,2,3,4,5,6,6,7] # list
print l

[1, 2, 3, 4, 5, 6, 6, 7]

In [25]:
t = (1, 2, 3, 3,4,4,5) # tuple
print t

(1, 2, 3, 3, 4, 4, 5)

In [26]:
s=set(t)
print s

set([1, 2, 3, 4, 5])

In [27]:
d = {'a':1,'b':2,'c':3,'d':3} # dict
print d

{'a': 1, 'c': 3, 'b': 2, 'd': 3}

In [28]:
a = np.array(l) # array
print a

[1 2 3 4 5 6 6 7]

In [29]:
l.append(10)
l

[1, 2, 3, 4, 5, 6, 6, 7, 10]

In [30]:
d.keys()

['a', 'c', 'b', 'd']

In [31]:
d.values()

[1, 3, 2, 3]

In [32]:
d['b']

2

In [33]:
d.items()

[('a', 1), ('c', 3), ('b', 2), ('d', 3)]

# 定义函数

In [34]:
def func(m, n):
    return int(m)/2 + int(n)/3

In [35]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
range(1,10)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
for i in range(10):
    print i, i*2, i**3

0 0 0
1 2 1
2 4 8
3 6 27
4 8 64
5 10 125
6 12 216
7 14 343
8 16 512
9 18 729

In [38]:
for i in range(10):
    print i*10+1

1
11
21
31
41
51
61
71
81
91

In [39]:
r = [func(i, 2)  for i in range(5)]
r

[0, 0, 1, 1, 2]

In [40]:
map(func, [3, 2], [2, 1])

[1, 1]

# if elif else

In [41]:
j = 10
if j%2 == 1:
    print r'余数是1'
elif j%2 ==2:
    print r'余数是2'
else:
    print r'余数既不是1也不是2'

余数既不是1也不是2

In [42]:
j = 10
if j%2 == 1:
    print '余数是1'
elif j%2 ==2:
    print '余数是2'
else:
    print '余数既不是1也不是2'

余数既不是1也不是2

In [44]:
x = 5
z = 0
if x < 5:
    y = -1
    z = 5
elif x > 5:
    y = 1
    z = 11
else:
    y = 0+x
    z = 10+z
print(x, y, z)

(5, 5, 10)

# while循环

In [45]:
j = -2
while j <10:
    print j
    j+=2 # avoid dead loop

-2
0
2
4
6
8

In [46]:
j = 1
while j <10:
    if j%3 != 0: 
        print j**2
    j+=2 # avoid dead loop

1
25
49

In [47]:
j = 1
while j <10:
    if j == 5:
        break
    if j%2 != 0: 
        print j**2
    j+=2 # avoid dead loop

1
9

# try except

In [48]:
def func2(m,n):
    return float(m)/n+2
for i in range(5):
    try:
        print func2(2,i)
    except Exception,e:
        print e
        pass

float division by zero
4.0
3.0
2.66666666667
2.5

# Write and Read data

In [49]:
data =[[i, i**2, i**3] for i in range(10)] 
data

[[0, 0, 0],
 [1, 1, 1],
 [2, 4, 8],
 [3, 9, 27],
 [4, 16, 64],
 [5, 25, 125],
 [6, 36, 216],
 [7, 49, 343],
 [8, 64, 512],
 [9, 81, 729]]

In [50]:
str(1)

'1'

In [51]:
for i in data:
    c='\t'.join(map(str, i))
    print c

0	0	0
1	1	1
2	4	8
3	9	27
4	16	64
5	25	125
6	36	216
7	49	343
8	64	512
9	81	729

In [52]:
type(data)

list

In [53]:
c

'9\t81\t729'

In [54]:
len(c)

8

In [55]:
len(data)

10

In [56]:
data[2]

[2, 4, 8]

In [57]:
data =[[i, i**2, i**3] for i in range(100)] 
data

[[0, 0, 0],
 [1, 1, 1],
 [2, 4, 8],
 [3, 9, 27],
 [4, 16, 64],
 [5, 25, 125],
 [6, 36, 216],
 [7, 49, 343],
 [8, 64, 512],
 [9, 81, 729],
 [10, 100, 1000],
 [11, 121, 1331],
 [12, 144, 1728],
 [13, 169, 2197],
 [14, 196, 2744],
 [15, 225, 3375],
 [16, 256, 4096],
 [17, 289, 4913],
 [18, 324, 5832],
 [19, 361, 6859],
 [20, 400, 8000],
 [21, 441, 9261],
 [22, 484, 10648],
 [23, 529, 12167],
 [24, 576, 13824],
 [25, 625, 15625],
 [26, 676, 17576],
 [27, 729, 19683],
 [28, 784, 21952],
 [29, 841, 24389],
 [30, 900, 27000],
 [31, 961, 29791],
 [32, 1024, 32768],
 [33, 1089, 35937],
 [34, 1156, 39304],
 [35, 1225, 42875],
 [36, 1296, 46656],
 [37, 1369, 50653],
 [38, 1444, 54872],
 [39, 1521, 59319],
 [40, 1600, 64000],
 [41, 1681, 68921],
 [42, 1764, 74088],
 [43, 1849, 79507],
 [44, 1936, 85184],
 [45, 2025, 91125],
 [46, 2116, 97336],
 [47, 2209, 103823],
 [48, 2304, 110592],
 [49, 2401, 117649],
 [50, 2500, 125000],
 [51, 2601, 132651],
 [52, 2704, 140608],
 [53, 2809, 148877],
 [54, 2916, 157464],
 [55, 3025, 166375],
 [56, 3136, 175616],
 [57, 3249, 185193],
 [58, 3364, 195112],
 [59, 3481, 205379],
 [60, 3600, 216000],
 [61, 3721, 226981],
 [62, 3844, 238328],
 [63, 3969, 250047],
 [64, 4096, 262144],
 [65, 4225, 274625],
 [66, 4356, 287496],
 [67, 4489, 300763],
 [68, 4624, 314432],
 [69, 4761, 328509],
 [70, 4900, 343000],
 [71, 5041, 357911],
 [72, 5184, 373248],
 [73, 5329, 389017],
 [74, 5476, 405224],
 [75, 5625, 421875],
 [76, 5776, 438976],
 [77, 5929, 456533],
 [78, 6084, 474552],
 [79, 6241, 493039],
 [80, 6400, 512000],
 [81, 6561, 531441],
 [82, 6724, 551368],
 [83, 6889, 571787],
 [84, 7056, 592704],
 [85, 7225, 614125],
 [86, 7396, 636056],
 [87, 7569, 658503],
 [88, 7744, 681472],
 [89, 7921, 704969],
 [90, 8100, 729000],
 [91, 8281, 753571],
 [92, 8464, 778688],
 [93, 8649, 804357],
 [94, 8836, 830584],
 [95, 9025, 857375],
 [96, 9216, 884736],
 [97, 9409, 912673],
 [98, 9604, 941192],
 [99, 9801, 970299]]

In [3]:
# 保存数据
data =[[i, i**2, i**3] for i in range(10)] 

f = open("D:/program/cjc2016/homework/techwindge/homework1/data_write_to_file.txt", "wb")
for i in data:
    f.write('\t'.join(map(str,i)) + '\n')
f.close()

In [4]:
with open('D:/program/cjc2016/homework/techwindge/homework1/data_write_to_file.txt','r') as f:
    data = f.readlines()
    print data

['0\t0\t0\n', '1\t1\t1\n', '2\t4\t8\n', '3\t9\t27\n', '4\t16\t64\n', '5\t25\t125\n', '6\t36\t216\n', '7\t49\t343\n', '8\t64\t512\n', '9\t81\t729\n']

In [5]:
with open('D:/program/cjc2016/homework/techwindge/homework1/data_write_to_file.txt','r') as f:
    data = f.readlines()
data[:5]

['0\t0\t0\n', '1\t1\t1\n', '2\t4\t8\n', '3\t9\t27\n', '4\t16\t64\n']

In [6]:
with open('D:/program/cjc2016/homework/techwindge/homework1/data_write_to_file.txt','r') as f:
    data = f.readlines(10) #10个byte
len(data)

10

In [7]:
with open('D:/program/cjc2016/homework/techwindge/homework1/data_write_to_file.txt','r') as f:
    data = f.readlines(1)
len(data)

10

In [8]:
with open('D:/program/cjc2016/homework/techwindge/homework1/data_write_to_file.txt','r') as f:
    for h, i in enumerate(f):
        if h%2 ==0:
            print i

0	0	0

2	4	8

4	16	64

6	36	216

8	64	512

In [9]:
# 读取数据
data = []
with open('D:/program/cjc2016/homework/techwindge/homework1/data_write_to_file.txt','r') as f:
    for line in f:
        line = line.replace('\n', '').split('\t')
        line = [int(i) for i in line]
        data.append(line)
data

[[0, 0, 0],
 [1, 1, 1],
 [2, 4, 8],
 [3, 9, 27],
 [4, 16, 64],
 [5, 25, 125],
 [6, 36, 216],
 [7, 49, 343],
 [8, 64, 512],
 [9, 81, 729]]